.Card {
    --Card-Padding: 20px;
    --Base-BackgroundColor: #fff;
    --Base-ShadowColor: #bdbdbd;
    --Title-Color: #444;
    --Subtitle-Color: #888;
    --Order-FontFamily: "Playfair Display", system-ui;
    width: 180px;
    height: 280px;
    position: relative;
    user-select: none;
    &>._Base,
    &>._Share {
        width: 100%;
        height: 100%;
        padding: var(--Card-Padding);
        position: absolute 0;
    }
    &>._Base {
        z-index: 1;
        background-color: var(--Base-BackgroundColor);
        box-shadow: 0 2px 5px 0 var(--Base-ShadowColor);
        &>._Title {
            margin-bottom: .5rem;
            font-size: 1.2rem;
            font-weight: 900;
            color: var(--Title-Color);
        }
        &>._Subtitle {
            margin-top: .5rem;
            font-size: .85rem;
            color: var(--Subtitle-Color);
        }
        &>._DownSide {
            width: 100%;
            padding: 0 var(--Card-Padding) var(--Card-Padding) var(--Card-Padding);
            position: absolute;
            left: 0;
            bottom: 0;
            line-height: 1;
            font-weight: 900;
            &>._WasRead {
                text-transform: uppercase;
                font-size: 12px;
            }
            &>._Order {
                font-family: var(--Order-FontFamily);
                font-size: 3rem;
            }
        }
    }
    &>._Share {
        z-index: 2;
    }
}