:root {
    --DefaultBackgroundColor: #eee;
    --DefaultColor: #444;
    --DefaultLinkColor: #3c6dff;
    --DefaultFontFamily: "Work Sans", "Poppins", "Consolas", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", system-ui;
}

html {
    background-color: var(--DefaultBackgroundColor);
    color: var(--DefaultColor);
    font-family: var(--DefaultFontFamily);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

body {
    font-size: responsive;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a[href] {
    color: var(--DefaultLinkColor);
    text-decoration: none;
    &::after {
        content: " ꜛ";
    }
    &:hover {
        text-decoration: underline;
        &::after {
            content: " ꜜ";
        }
    }
}